<div>
<mat-card style="width: 100%; background-color: #2596be; word-spacing: 30px;">
   <h1>
    <button mat-button style="font-size: 90%;"> Rent-Cars</button>
    <button mat-button style="font-size: 90%;"> Dashboard</button>
    <button mat-button style="font-size: 90%;"> My-Profile</button>
    <button mat-button style="font-size: 90%;"> My-Booking</button>
    <button mat-button style="font-size: 90%; margin-left: 55%;">Logout</button>
    </h1>
</mat-card>
<div>
    <mat-card style="width: 100%; background-color: #e7e7e6; margin-top: 3%; height: 30px;"> 
        <div class="logo"><img src="assets/img/ar-crop.png" style="height: 45px; width: 50px; border-radius: 50%;"></div>
        <h1 style="color: black; "> 
            <button mat-button style="font-size: 90%; margin-left: 10%;" (click)="opendialog()">Company_Name</button>
            <button mat-button style="font-size: 90%; margin-left: 15%;" (click)="opendialog()">Company_Address</button>
            <button mat-button style="font-size: 90%; margin-left: 20%;" (click)="opendialog()">Mobile_Number</button>
        </h1>
    </mat-card>
    <mat-card style="width: 100%; background-color: #e7e7e6; margin-top: 3%; height: 30px;"> 
        <div class="logo"><img src="assets/img/ar-crop.png" style="height: 45px; width: 50px; border-radius: 50%;"></div>
        <h1 style="color: black; "> 
            <button mat-button style="font-size: 90%; margin-left: 10%;" (click)="opendialog()">Company_Name</button>
            <button mat-button style="font-size: 90%; margin-left: 15%;" (click)="opendialog()">Company_Address</button>
            <button mat-button style="font-size: 90%; margin-left: 20%;" (click)="opendialog()">Mobile_Number</button>
        </h1>
    </mat-card>
    <mat-card style="width: 100%; background-color: #e7e7e6; margin-top: 3%; height: 30px;"> 
        <div class="logo"><img src="assets/img/ar-crop.png" style="height: 45px; width: 50px; border-radius: 50%;"></div>
        <h1 style="color: black; "> 
            <button mat-button style="font-size: 90%; margin-left: 10%;" (click)="opendialog()">Company_Name</button>
            <button mat-button style="font-size: 90%; margin-left: 15%;" (click)="opendialog()">Company_Address</button>
            <button mat-button style="font-size: 90%; margin-left: 20%;" (click)="opendialog()">Mobile_Number</button>
        </h1>
    </mat-card>
    <mat-card style="width: 100%; background-color: #e7e7e6; margin-top: 3%; height: 30px;"> 
        <div class="logo"><img src="assets/img/ar-crop.png" style="height: 45px; width: 50px; border-radius: 50%;"></div>
        <h1 style="color: black; "> 
            <button mat-button style="font-size: 90%; margin-left: 10%;" (click)="opendialog()">Company_Name</button>
            <button mat-button style="font-size: 90%; margin-left: 15%;" (click)="opendialog()">Company_Address</button>
            <button mat-button style="font-size: 90%; margin-left: 20%;" (click)="opendialog()">Mobile_Number</button>
        </h1>
    </mat-card>
</div>
<router-outlet></router-outlet>