<h2 mat-dialog-title style="margin-left: 30%;">Car Booking Details</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <mat-card style="background-color: white; width: 500px; height: 90px;">
      <address style="color: black; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
        Company_Name
        1/7A, Area Locality,
        District Pincode.
        9875634501
      </address>
    </mat-card>
  </div>
  <div>
    <mat-card style="background-color: white; width: 500px; height: 90px; margin-top: 10%;"> 
        <button mat-button style="font-size: 20px; color: black; word-spacing: 30%; margin-top: 5%;">Car-Model : Model-Name </button>
        <button mat-button style="font-size: 20px; color: black; word-spacing: 40%;">Car-Price</button>
        <button mat-button style="font-size: 20px; color: black; word-spacing: 30%;">Car-Type</button>
    </mat-card>
  </div>
  <div>
    <mat-card style="background-color: white; width: 500px; height: 90px; margin-top: 10%;"> 
        <button mat-button style="font-size: 20px; color: black; word-spacing: 30%; margin-top: 5%;">Car-Model : Model-Name </button>
        <button mat-button style="font-size: 20px; color: black; word-spacing: 40%;">Car-Price</button>
        <button mat-button style="font-size: 20px; color: black; word-spacing: 30%;">Car-Type</button>
    </mat-card>
  </div>
  <div>
    <mat-card style="background-color: white; width: 500px; height: 90px; margin-top: 10%;"> 
        <button mat-button style="font-size: 20px; color: black; word-spacing: 30%; margin-top: 5%;">Car-Model : Model-Name </button>
        <button mat-button style="font-size: 20px; color: black; word-spacing: 40%;">Car-Price </button>
        <button mat-button style="font-size: 20px; color: black; word-spacing: 30%;">Car-Type </button>
    </mat-card>
  </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>