<div style="display: flex;">
<mat-card style="width: 40%; height: 230px; background-color: #e6e7e7; border-radius: 8px; margin-top: 5%;margin-left: 5%;">
   <h1 style="color: black; margin-top:15% ; margin-left: 20%;"> Car Image will be displayed here</h1> 
</mat-card>
<mat-card style="background-color: white; margin-left: 10%; margin-top: 5%; height: 230px; width: 550px; color: black ;">
    <h1>
        Car-Model : Model Name
    </h1><br>
    <h1>
        Price : $200
    </h1><br>
    <h1>
        Type : Car Type
    </h1><br>
    <h1> Description</h1>
</mat-card>
</div>
<div style="display: flex;">
    <mat-card style="width: 5%; height: 15px; background-color: #e6e7e7; border-radius: 5%; margin-top: 2%; margin-left: 5%;">
       <h1 style="color: black;">image</h1>
    </mat-card>
    <mat-card style="width: 5%; height: 15px; background-color: #e6e7e7; border-radius: 5%; margin-top: 2%; margin-left: 5%;">
        <h1 style="color: black;">image</h1>
    </mat-card>
    <mat-card style="width: 5%; height: 15px; background-color: #e6e7e7; border-radius: 5%; margin-top: 2%; margin-left: 5%;">
        <h1 style="color: black;">image</h1>
    </mat-card>
    <mat-card style="width: 5%; height: 15px; background-color: #e6e7e7; border-radius: 5%; margin-top: 2%; margin-left: 5%;">
        <h1 style="color: black;">image</h1>
    </mat-card>
</div>

<div style="display: flex;">
    <mat-card style="width: 5%; height: 15px; background-color: #e6e7e7; border-radius: 5%; margin-top: 2%; margin-left: 5%;">
        <h1 style="color: black;">image</h1>
    </mat-card>
    <mat-card style="width: 5%; height: 15px; background-color: #e6e7e7; border-radius: 5%; margin-top: 2%; margin-left: 5%;">
        <h1 style="color: black;">image</h1>
    </mat-card>
    <mat-card style="width: 5%; height: 15px; background-color: #e6e7e7; border-radius: 5%; margin-top: 2%; margin-left: 5%;">
        <h1 style="color: black;">image</h1>
    </mat-card>
    <mat-card style="width: 5%; height: 15px; background-color: #e6e7e7; border-radius: 5%; margin-top: 2%; margin-left: 5%;">
        <h1 style="color: black;">image</h1>
    </mat-card>
    <mat-card style="background-color: #e6e7e7; width: 450px; height: 100px; border-radius: 5%; margin-left: 12%; margin-bottom: 100px; color: black;">
        <h1 style="margin-top: 8%; margin-left: 15%;">Car Details will be displayed Here</h1>
    </mat-card>
</div>